version: '3.8'

services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"

  clockwork-runner:
    image: clockwork-runner
    container_name: oc_clockwork_container
    build:
      context: .
      dockerfile: docker/clockwork/Dockerfile

  ui-runner:
    image: ui-runner
    container_name: oc_ui_container
    build:
      context: .
      dockerfile: docker/ui/Dockerfile
    ports:
      - "8050:8050"

  indicators:
    image: indicators
    container_name: oc_indicators_container
    build:
      context: .
      dockerfile: services/indicators/docker/Dockerfile

  sumo-simulator:
    image: simengine-runner
    container_name: oc_simengine_container
    build:
      context: .
      dockerfile: docker/simengine/Dockerfile
